html, body {
  height: 100%;
  margin: 0;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  /* overflow: auto; */
}
body::-webkit-scrollbar {
  width: 0.7em;
  background: #888;
}
body::-webkit-scrollbar-thumb {
  background: #666;
  height:5px;
}
body::-webkit-scrollbar-track-piece
{
   display:none;
}
.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* 
      fixed = parallax effect
      scroll = normal
  */
  background-attachment: fixed;
}
.pimg1 {
  background-image: url('./assets/top.jpg');
  min-height: 100vh;
}
.pimg2 {
  background-image: url('./assets/mid.jpg');
  min-height: 400px;
}
.pimg3 {
  background-image: url('./assets/bot.jpg');
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
  font-size: 20px;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.ptext .border.trans {
  background-color: transparent;
}
li {
  list-style-type: none;
}
/* Home */
.breadcrumbs {
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  padding: 20px;
  font-size: .6em;
}
.breadcrumbs a {
  margin: 0 10px 0 10px;
  color: #fff;
}
/* Menu Nav */
.menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0 20px 0;
  border-top: .5px solid #666;
  border-bottom: .5px solid #666;
}
.menu-nav li {
  padding: 0 4% 0 4%;
}
/* Menu Items */
.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-div {
  background-color: white;
  border: .5px solid rgb(200,200,200);
  padding: 20px;
  width: 600px;
}
.menu-head {
  font-size: 1.3em;
}
.menu-div ul li {
  text-align: left;
  margin-right: 5px;
}
.menu-item {
  font-weight: 600;
}
.menu-description {
  margin-top: -20px;
  padding-bottom: 20px;
}
/* menu-columns */
.four-column-view {
  flex-basis: 25%;
}
.three-column-view {
  flex-basis: 30%;
}
.menu-alcohol-spacing li {
  border-bottom: .5px solid #666;
  margin-bottom: 10px;
}
/* About Us */
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-left: -20px;
}
/* Google iframe */
.google-map-code iframe {
  margin-top: 30px;
  box-shadow: 0 8px 16px -4px;
  margin-left: -50px;
}
/* About Info */
.about-tessio-section {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.about-tessio-info li {
  padding: 5px;
  margin-left: -40px;
}
.bold {
  font-weight: 600;
}
/* About Tessio Links */
.about-tessio-links li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #666;
  padding: 3px;
}
.about-tessio-links li a span {
  margin-left: 10px;
}
.about-tessio-links li a:hover {
  color: #5499C7;
}
.icons {
  height: 40px;
}

@media(max-width: 1500px) {
  .menu-div {
    flex-basis: 50%;
  }
}

@media(max-width: 1000px) {
  .menu-div {
    flex-basis: 100%;
  }
  .google-map-code {
    flex-basis: 100%;
  }
  .about-tessio-section {
    flex-basis: 50%;
  }

}

@media(max-width: 600px) {
  .pimg1, .pimg2, .pimg3 {
      background-attachment: scroll;
  }
  .ptext {
    font-size: .8em;
  }
  .section h2 {
    font-size: 1.2em;
  }
  .section {
    margin: 0 -60px 0 -60px;
    font-size: .9em;
  }
  .menu-nav {
    font-size: .8em;
  }
  .menu-container {
    position: relative;
    padding-top: 10px;
  }
  .menu-div {
    flex-basis: 100%;
  }
  .menu-div ul li {
    margin: 0 10px 0 -30px;
  }
  .menu-description {
    padding-top: 6px;
  }
  .menu-alcohol-spacing li {
    border-bottom: none;
  }
  .google-map-code {
    display: none;
  } 
  .about-tessio-section {
    flex-basis: 100%;
    margin: 0 -10px 0 -10px;
  }
  .about-tessio-links li a {
    margin-left: 80px;
  }
}